<h3 class="text-center pt-5">ALL ORDERS</h3>


<div class="container">
    <table class="table border p-2">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col">Order Date</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datatables; index as i">
            <th scope="row">{{i}}</th>
            <td (click)="User(data._id)"  class="cursor-pointer">{{data.createdAt}}</td>
            <td>{{data.paymentMethod}}</td>
            <td>{{data.totalAmount}}</td>
          </tr>
          
        </tbody>
      </table>
</div><br>

<div class="container d-block mx-auto pt-5 border">
<ul *ngFor="let data of datatables; index as j">
    <li class="text-primary"><h4>My Orders [{{j}}]</h4></li>
    
    <ul>
      <hr/>
      <li *ngFor="let per of data.products">
       <p class="text-success"> {{ per.product.name }}</p>
      </li>
    </ul>
  </ul>
  </div>
  